{% set logo_url = url_for('static', path='img/ps-logo.png') %}
{% set user_icon_url = url_for('img', path='user-icons/generic-black.svg') %}
<header class="header">
   <div class="header__left-side">
      <div class="header__logo">
         <a href='{{ url_for("index") }}'>
            {# TODO: Change this for the Provincia Seguros logo #}
            <img class="image-fit-contain" alt="Email Sharer" src="{{ logo_url }}">
         </img>
      </a>
   </div>
</div>
<div class="header__right-side">
   {# Notifications icon #}
   <div class="header__user">
      <div class="header__user-name">Hola Sandra Dora</div>
      <div class="header__user-icon ms-1">
         <img class="image-fit-contain" alt="user-logo" src="{{ user_icon_url }}">
      </div>
      <!--
      <div class="dropdown">
         <button class="dropdown-toggle header__user-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
         <ul class="dropdown-menu">
            <li>
               <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                  <box-icon name='bell'></box-icon>
                  Notificaciones
               </a>
            </li>
            <li>
               <a class="dropdown-item d-flex align-items-center gap-2" href="#"><box-icon name='cog' class="header__config"></box-icon> Configuración</a>
            </li>
         </ul>
      </div>
		-->
   </div>
   {# Config icon #}
</div>
</header>
