<dialog id="email-upload-dialog" class="upload-email-dialog">
   <h2 class="subtitle text-center">Subí tu correo</h2>
   <form enctype="multipart/form-data" id="email-form">
      <div class="drop-zone my-3">
         <span class="drop-zone__prompt">Drop file here or click to upload</span>
         <input type="file"
                name="email"
                name="email"
                accept=".html, .htm, .eml, .msg"
                id="email-file-input"
                class="drop-zone__input">
      </div>
      <div class="d-flex justify-content-evenly px-5">
         {# TODO: Cambiar este boton por una X #}
         <button type="button" data-close-email-dialog class="cancel-button">Cancelar</button>
         <button type="submit" class="submit-button">Subir</button>
      </div>
   </form>
</dialog>
