<dialog id="email-upload-dialog" class="upload-email-dialog">
   {# <h2 class="subtitle text-center">Subí tu correo</h2> #}
   <form enctype="multipart/form-data" id="email-form">
      <div class="d-flex">
         <box-icon name='x' size="md" color='black' class="upload-email-dialog__close" data-close-email-dialog></box-icon>
      </div>
      <div class="drop-zone my-3">
         <input type="file"
                name="email"
                name="email"
                accept=".html, .htm, .eml, .msg"
                id="email-file-input"
                class="drop-zone__input">
         <div class="drop-zone__prompt">Drop file here or click to upload</div>
         <div class="drop-zone__thumb"></div>
      </div>
      <div class="d-flex justify-content-evenly px-5">
         {# TODO: Cambiar este boton por una X #}
         <button type="submit" class="submit-button">Subir</button>
      </div>
   </form>
</dialog>
