.email {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	padding: 15px 20px;
	height: 100px;
	border-radius: 10px;
	background-color: var(--ps-barely-white);
	border: 1px solid var(--ps-lighter-grey);
	z-index: 1;
}

.email:hover {
	background-color: var(--ps-lighter-grey);
	border: 1px solid var(--ps-grey);
}

.email__owner-name {
	font-family: "Work Sans", sans-serif;
	color: var(--ps-blue);
	font-weight: 600;
	font-size: 1.2rem;
}
.email__date {
	font-family: "Work Sans", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: var(--ps-light-grey);
}
.email__subject {
	font-family: "DM Sans", sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	outline: none;
	color: black;
}

.email__subject:link {
	outline: none;
	text-decoration: none;
}

.email__subject:hover {
	outline: var(--ps-blue);
}
