.email-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.email-list__title {
	font-family: "Mulish", sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #aeaeae;
	text-align: center;
}
