.email {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	height: 100px;
	border-radius: 10px;
	background-color: var(--ps-barely-white);
	border: 1px solid var(--ps-lighter-grey);
}

.email:hover {
	background-color: var(--ps-lighter-grey);
	border: 1px solid var(--ps-grey);
}

.email__info {
	display: flex;
	align-items: center;
}

.email__user-icon {
	height: 60px;
	width: auto;
}

.email__info-right {
	flex: 1; /* Take up remaining space */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3px;
}
.email__user-name {
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
}
.email__date {
	font-family: "Work Sans", sans-serif;
	font-size: 0.6rem;
	font-weight: 400;
	color: var(--ps-grey);
}
.email__subject {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	outline: none;
	color: black;
}

.email__subject:link {
	outline: none;
	text-decoration: none;
}

.email__subject:hover {
	outline: var(--ps-blue);
}
