.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: var(--header-height);
	padding-left: 20px;
	padding-right: 20px;

	background-color: var(--ps-barely-white);
	border: 1px solid var(--ps-lighter-grey, #d9d9d9);

	position: fixed;
	top: 0;
	width: 100%;
}

.header__right-side {
	display: flex;
	align-items: center;
	gap: 30px;
}

.header__logo {
	height: calc(var(--header-height) * 0.6);
	width: auto;
}

.header__notifications,
.header__config {
	height: 20px;
	width: 20px;
	color: var(--ps-blue-darker);
}

.header__user {
	display: flex;
	align-items: center;
}
.header__user-icon {
	height: 40px;
	width: auto;
}

.header__user-arrow {
	color: var(--ps-blue-darker);
}
