.header {
	display: flex;
	align-items: center;

	height: var(--header-height);
	padding-left: 100px;
	padding-right: 100px;

	background-color: white;
	border: 1px solid var(--ps-lighter-grey, #d9d9d9);

	position: fixed;
	top: 0;
	width: 100%;
}

.header__left-side {
	margin-right: auto;
}
.header__right-side {
	margin-left: auto;
}

.header__logo {
	height: calc(var(--header-height) * 0.6);
	width: auto;
}

.header__user {
	display: flex;
	align-items: center;
}

.header__user-dropdown-btn {
	display: flex;
	align-items: center;
	border: none;
	background-color: var(--ps-barely-white);
}

.header__user-icon {
	height: 40px;
	width: auto;
}

.header__user-name {
	font-family: "Mulish", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
