.visualizar-email {
	border: 1px solid var(--ps-lighter-grey);
	border-radius: 6px;
	margin-top: 80px;
	padding: 30px;
	background-color: #f6f0f0;
}
.visualizar-email__subject {
	font-family: "Mulish", sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
	outline: none;
	color: black;
}
.visualizar-email__subject:link {
	outline: none;
	text-decoration: none;
}
.visualizar-email__sender,
.visualizar-email__recipients,
.visualizar-email__date,
.visualizar-email__cc,
.visualizar-email__bcc {
	font-size: 12px;
	font-family: "Mulish", sans-serif;
}

.visualizar-email__sender,
.visualizar-email__recipients,
.visualizar-email__date {
	color: black;
}
.visualizar-email__cc,
.visualizar-email__bcc {
	color: var(--ps-light-grey);
}
.visualizar-email__body {
}
