{% macro email( email, user, user_logo_url) %}
   <div class="email">
      <div class="email__info">
         <div class="email__user-icon">
            <img class="image-fit-contain" alt="user-logo" src="{{ user_logo_url }}">
         </div>
         <div class="email__info-right">
            <div class="email__user-name">{{ user.name }}</div>
            <div class="email__date">{{ email.date }}</div>
         </div>
      </div>
      <div class="email__subject">{{ email.subject }}</div>
   </div>
{% endmacro %}
