<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Item Details</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
      <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
      <link href="{{ url_for('css', path='style.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='header.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='email.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='email-list.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='drop-zone.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='buttons.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='paginator.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='copy-link.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='upload-email.css') }}" rel="stylesheet">
      <link href="{{ url_for('css', path='upload-email-dialog.css') }}"
            rel="stylesheet">
      <link href="{{ url_for('css', path='visualizar-email.css') }}"
            rel="stylesheet">
      <link rel="icon" href="{{ url_for('img', path='logo-small.svg') }}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@600&family=Work+Sans:wght@400;600&display=swap"
            rel="stylesheet">
   </head>
   <body>
      {% include "components/header.html" %}
      <div class="header-padding">
         {% block content %}
         {% endblock content %}
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
              crossorigin="anonymous"></script>
   </body>
</html>
