<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Item Details</title>
      <link href="{{ url_for('css', path='style.css') }}" rel="stylesheet">
   </head>
   <body>
      <form enctype="multipart/form-data" id="email-form">
         <h1>Hola</h1>
         <label for="email">Subi tu archivo email:</label>
         <input type="file" id="email" name="email" accept=".html, .htm, .eml, .msg" />
         <button>submit</button>
      </form>
      <div id="email-info"></div>
      <ul id="email-list">
      </ul>
      <script src="{{ url_for('js', path='email-form.js') }} "></script>
      <script src="{{ url_for('js', path='email-list.js') }} "></script>
   </body>
</html>
