<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Item Details</title>
      <link href="{{ url_for('css', path='style.css') }}" rel="stylesheet">
   </head>
   <body>
      <form action='{{ url_for("get_file_info") }}'
            enctype="multipart/form-data"
            method="post">
         <h1>Hola</h1>
         <label for="email">Subi tu archivo email:</label>
         <input type="file" id="email" name="email" />
         <button>submit</button>
      </form>
      <script src=""></script>
   </body>
</html>
